/* This is styling for the Koala Site*/
* {
  margin: 0;
  padding: 0;
  
}
@font-face {
  font-family: 'balooregular';
  src: url('../fonts/Baloo-Regular-webfont.woff') format('woff');
}

body {
  font-family: 'Young Serif', serif;
  background-image: url("../images/leaves.webp");
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}

#container {
  background-color: #ececd5;
  width: 1000px;
  border: 2px solid rgb(209, 199, 199);
  box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 20px;
}

main {
  margin-bottom: 15px;
}

nav ul {
  background-color: #017501;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0;
}

nav ul li {
  display: inline;
  list-style: square;
  color: rgba(255, 255, 255, 0.895);
  padding: 10px;
}

nav ul li a:link,
a:visited {
  color: #fef4f4;
  font-size: 18px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ee0e0e;
}

p {
  color: #004702;
  font-size: 18px;
  line-height: 1.8;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
}

p.boldpurple {
  font-weight: bold;
  color:hsl(274, 100%, 16%, 0.89);
}

h1,
h3 {
  font-family: 'balooregular';
  color: #e5ffef;
  background-color: hsl(142, 100%, 6%, 0.92);
  text-align: center;
  font-variant: small-caps;
  font-size: 40px;
  margin: 20px 0;
}
h3 {
  font-size: 30px;
  margin: 12px 0;
  padding: 10px;
  border-top: rgb(209, 199, 199);
}

img {
  border: 1px solid rgb(209, 199, 199);
  padding: 8px;
  box-shadow: 10px 10px 20px rgba(1, 38, 20, 0.5);
  border-radius: 10px;
  margin: 30px;
}

.banner, .footimage {
  box-shadow: none;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}


.koalacenter {
  font-weight: bold;
  font-style: italic;
  color: rgba(0, 0, 139, 0.94);
}

.center {
  display: block;
  margin: 10px auto;
}

.law {
  color: #f30606;
}
.protect-koala {
  color: #070bec;
}

.aboutlist {
  list-style: url(../images/leaf-1-24.png);
  color: #004702;
  font-weight: normal;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
  list-style-position: inside;
}
.floatleft {
  float: left;
  margin-top: 15px;
}
.floatright {
  float: right;
  margin-top: 15px;
}

footer {
  background-color:hsl(142, 100%, 6%, 0.92);
  color: rgba(255, 255, 255, 0.884);
  text-align: center;
  clear: both;
}

footer p {
  color: #e5ffef;
}

footer a:link,
a:visited {
  color: #e5ffef;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #container {
    background-color: #ececd5;
    width: 100%;
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 25px;
    padding: 0.25em;
  }
  
  .banner {
    height: auto;
  }

  .floatleft {
    float: none;
    margin-top: 0;
  }
  .floatright {
    float: none;
    margin-top: 0;
  }
}